In [2]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('stageb-regression-quiz')
jovian.set_colab_id('13m1nzGFdw_i6R3hsQaAQIQOHHXrNT12X')

     |████████████████████████████████| 68 kB 5.0 MB/s
  Building wheel for uuid (setup.py) ... done

# stageb-regression-quiz

Use the "Run" button to execute the code.

In [3]:
!pip install jovian --upgrade --quiet

In [4]:
import jovian

In [ ]:
# Execute this to save new versions of the notebook
# jovian.commit(project="stageb-regression-quiz")

In [5]:
import pandas as pd
import seaborn as sns

In [6]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

df

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [74]:
from sklearn.linear_model import LinearRegression
import numpy as np

temp = df['T2']
x = np.array(temp).reshape((-1, 1))

y = df['T6']
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [76]:
# R-squarred (coefficient of determination)
from sklearn.metrics import r2_score
r2_score = r2_score(x, y)
round(r2_score, 2)

-35.39

In [13]:
# dropping date and lights column
new_df = df.drop(columns=['date', 'lights'])

In [14]:

# normalise dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(new_df), columns= new_df.columns)
normalised_df

       Appliances        T1      RH_1  ...  Tdewpoint       rv1       rv2
0        0.046729  0.327350  0.566187  ...   0.538462  0.265449  0.265449
1        0.046729  0.327350  0.541326  ...   0.533937  0.372083  0.372083
2        0.037383  0.327350  0.530502  ...   0.529412  0.572848  0.572848
3        0.037383  0.327350  0.524080  ...   0.524887  0.908261  0.908261
4        0.046729  0.327350  0.531419  ...   0.520362  0.201611  0.201611
...           ...       ...       ...  ...        ...       ...       ...
19730    0.084112  0.926786  0.537657  ...   0.901961  0.861981  0.861981
19731    0.074766  0.919747  0.536006  ...   0.900452  0.985726  0.985726
19732    0.242991  0.919747  0.538666  ...   0.898944  0.583979  0.583979
19733    0.383178  0.919747  0.549491  ...   0.897436  0.126371  0.126371
19734    0.392523  0.919747  0.538758  ...   0.895928  0.682391  0.682391

[19735 rows x 27 columns]

In [20]:
features_df = normalised_df.drop(['Appliances'], axis = 1)
features_df

             T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0      0.327350  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1      0.327350  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2      0.327350  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3      0.327350  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4      0.327350  0.531419  0.225345  ...   0.520362  0.201611  0.201611
...         ...       ...       ...  ...        ...       ...       ...
19730  0.926786  0.537657  0.711655  ...   0.901961  0.861981  0.861981
19731  0.919747  0.536006  0.701769  ...   0.900452  0.985726  0.985726
19732  0.919747  0.538666  0.692651  ...   0.898944  0.583979  0.583979
19733  0.919747  0.549491  0.677054  ...   0.897436  0.126371  0.126371
19734  0.919747  0.538758  0.666171  ...   0.895928  0.682391  0.682391

[19735 rows x 26 columns]

In [21]:
target_appliances = normalised_df['Appliances']
target_appliances

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

In [51]:
# split  dataset into the training and testing dataset. 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

x_train, x_test, y_train, y_test = train_test_split(features_df, target_appliances ,test_size=0.3, random_state=42)
linear_model = LinearRegression()

In [52]:

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

#obtain predictions
predicted_values = linear_model.predict(x_test)

In [77]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

In [79]:
#Residual Sum of Squares (RSS)
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

In [80]:
#Root Mean Square Error (RMSE)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [81]:
# R-squarred (coefficient of determination)
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

### ridge and lasso

In [55]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):

  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [54]:

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
linear_model_weights
# linear_model_weights.max()

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [59]:
# ridge
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
predicted_ridge = ridge_reg.predict(x_test)

In [60]:

rmse = np.sqrt(mean_squared_error(y_test, predicted_ridge))
round(rmse, 3) #No change in value with linear model rmse value

0.088

In [61]:
# lasso
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
predicted_lasso = lasso_reg.predict(x_test)

In [57]:
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
lasso_weights_df

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [62]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_lasso))
round(rmse, 3)

0.094

In [82]:
jovian.commit(project="stageb-regression-quiz")

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/s1032190385/stageb-regression-quiz

'https://jovian.ai/s1032190385/stageb-regression-quiz'